*{
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
}
.flex-info{
    display: flex;
}
.flex-info div{
    padding: 4rem;
    width: 50%;
}
.flex-info .pics{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.flex-info .pics .container{
    position: relative;
}
.flex-info .pics img{
    position: absolute;
    width: 409px;
    height: 609px;
    top:-1rem;
    left: 5rem;
}
.flex-info .pics .blob{
    width: 500px;
    left: -1rem;
    width: 601px;
    height: 556px;
}
.flex-info .purpose{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10rem;
}
.flex-info .purpose > h2 {
    padding-bottom: 4rem;
    font-size: 40px;
    line-height: 60px;
    line-height: 150%;
}
.flex-info .purpose > p {
    padding-bottom: 2rem;
    font-weight: 500px;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 165%;

}
.flex-info .button{
align-self: center;
width: 157px;
height: 64px;
text-align: center;
display: flex;
justify-content: center;
align-items:center ;
background: #070AB5;
color: #fff;
border-radius: 6px;
font-weight: 700px;
line-height: 150%;
letter-spacing: 0.4px;
font-size: 1.2rem;
}
.flex-info .button:hover{
    background: #3538e9;
    cursor: pointer;
}
