*{
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
}
body{
    margin: 0px;
    background-color: bisque;
}

header{
    height: 10vh;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    gap: 5em;


}

.flex-item{
    min-width: 400px;
    max-width: 500px;
}
.flex-item.pics {
display: flex;
flex-direction: column;
position: relative;
background-color: blueviolet;
height: 100%;

}

.flex-info.pics.container{
    position: relative;
    background-color: blue;
    height: 100%;
}
.flex-item.pics img {
    position: absolute;
    top: 0;
    bottom: 0;

}
.flex-info.pics.container > .woman{
    transform: scale(1.2) translate(25%,10%);
}